@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

@import-normalize;
* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    outline: none;
}

body {
    background-color: #f8f8f8;
    font-family: "Questrial", sans-serif;
    margin: 0;

    position: relative;
    min-height: 100vh;
}

div.container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* HOME */
header {
    width: 100%;
    height: 80px;

    display: flex;
    justify-content: center;

    margin-bottom: 30px;
    position: fixed;
    background-color: #212121;
}

@media (max-width: 550px) {
    header {
        height: 120px;
    }
}

@media (max-width: 400px) {
    header {
        height: 150px;
    }
}

@media (max-width: 370px) {
    header {
        height: 250px;
    }
}

div.menu {
    position: absolute;
    right: 20px;
}

@media (max-width: 770px) {
    div.menu {
        position: relative;
        margin-left: 30px;
    }
}

a,
a:hover,
a:active {
    color: #333;
    text-decoration: none;
}

/* COLOR SPOTTER */
div.color-graber {
    margin-top: 35px;
    margin-bottom: 80px;
}

span.graber_instructions {
    text-align: center;
    font-size: 1.5rem;
}

@media (max-width: 700px) {
    span.graber_instructions {
        font-size: 1.2rem;
    }
}

div.palette {
    width: 100%;
    display: flex;
    flex-direction: column;
}

div.saved_palettes_container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 40px;
    margin-bottom: 100px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}

li {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    margin-top: 50px;
    border: 1px solid #9e9e9e;
}

@media (max-width: 1200px) {
    div.palette-save {
        margin-top: 45px;
    }
}

span.save {
    display: inline-block;
    vertical-align: top;
    font-size: 1.3rem;
    letter-spacing: 0.04em;
    min-width: 1.5em;
    color: #333;
    border: 1px solid #333;
    text-transform: uppercase;
    margin: 0.5em 0.5em;
    padding: 0.4em 0.6em 0.4em;
    cursor: pointer;
}

span.palette_saved_confirmation {
    text-align: center;
    font-size: 1.3rem;
}

div.palette-save {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p.drop-graber {
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.5rem;
    cursor: crosshair;
    border-radius: 12px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
        0px 4px 5px 0px rgba(0, 0, 0, 0.14),
        0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

/* SAVED PALETTES */
div.saved_instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

div.filtering {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 35px;
}

div.filter-part {
    display: flex;
    flex-direction: column;
    align-items: center;
}

span.no-match {
    margin-top: 15px;
    font-size: 1.3rem;
}

.filter-button {
    display: inline-block;
    vertical-align: top;
    font-size: 1.3rem;
    letter-spacing: 0.04em;
    min-width: 1.5em;
    color: #333;
    border: 1px solid #333;
    text-transform: uppercase;
    margin: 0.5em 0.5em;
    padding: 0.4em 0.6em 0.4em;
    cursor: pointer;
}

span.filter_title {
    font-size: 2rem;
}

@media (max-width: 750px) {
    span.filter_title {
        font-size: 1.5rem;
    }
}

div.single-color {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border: 1px solid #9e9e9e;
}

div.saved_color {
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 50px;
    text-align: center;
}

/* AUTH */
div.auth-login,
div.auth-register {
    margin-bottom: 80px;
}
form.auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 20px;
    font-size: 1.5rem;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    margin-top: 5px;
    padding: 10px;
    font-size: 1.3rem;
    background-color: #f3f3f3e0;
}

button.submit {
    display: inline-block;
    vertical-align: top;
    font-size: 1.3rem;
    letter-spacing: 0.04em;
    min-width: 1.5em;
    color: #333;
    border: 1px solid #333;
    text-transform: uppercase;
    margin: 0.5em 0.5em;
    padding: 0.4em 0.6em 0.4em;
    cursor: pointer;
}

span.error {
    text-align: center;
    font-size: 1.5rem;
    width: 50%;
}

span.confirmation {
    font-size: 1.5rem;
}

/* INFO */
p.info {
    width: 50%;
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.3;
}

.underline {
    text-decoration: underline;
}

span.title {
    font-size: 1.5rem;
    margin-top: 15px;
    text-align: center;
}

@media (max-width: 700px) {
    span.title {
        font-size: 1.2rem;
    }
}

div.info-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #333;
    margin-bottom: 80px;
}

@media (max-width: 1200px) {
    p.info {
        width: 80%;
    }
}

@media (max-width: 1200px) {
    p.info {
        width: 90%;
    }
}

/* PROFILE */
div.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form.profile {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
    font-size: 1.5rem;
    margin-bottom: 25px;
}

.profile-input {
    margin-left: 10px;
}

/* ADMIN: CHARTS */
h1 {
    text-align: center;
    width: 80%;
    font-weight: 300;
}

@media (max-width: 700px) {
    h1 {
        text-align: center;
        width: 60%;
        font-size: 1rem;
    }
}

div.chart {
    display: flex;
    padding-top: 40px;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100%;
    margin-bottom: 80px;
}

@media (max-width: 1000px) {
    div.chart {
        flex-direction: column;
    }
}

div.single-chart {
    padding-right: 30px;
}

/* FOOTER */
footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    color: #333;
    justify-content: center;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.9),
        0px 4px 5px 0px rgba(0, 0, 0, 0.14),
        0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

@media (max-width: 350px) {
    footer {
        height: 50px;
    }
}

a.footer-link,
a.footer-link:active,
a.footer-link:visited {
    color: #333;
}
