@import url("https://fonts.googleapis.com/css?family=Uncial+Antiqua&display=swap");
@import-normalize;

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

span.filter {
    font-family: Arial;
    display: inline-block;
    vertical-align: top;
    font-size: 1.3rem;
    letter-spacing: 0.04em;
    min-width: 1.5em;
    border-radius: 10em;
    background: #333;
    color: whitesmoke;
    border: 1px solid transparent;
    text-transform: uppercase;
    margin: 0.2em 0.5em;
    padding: 0.4em 0.8em 0.2em;
    cursor: pointer;
}

div.filter {
    width: 100%;

    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

span.filter_title {
    font-size: 2rem;
}

div.single-color {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
    margin-right: 50px;
}

span.confirmation {
    font-size: 1.5rem;
    margin-top: 20px;
}

span.error {
    margin-top: 20px;
    font-size: 1.5rem;
}

form.auth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    font-size: 1.5rem;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    margin-top: 5px;
    padding: 10px;
}

button.submit {
    font-family: Arial;
    display: inline-block;
    vertical-align: top;
    font-size: 1.3rem;
    letter-spacing: 0.04em;
    min-width: 1.5em;
    border-radius: 10em;
    background: #333;
    color: whitesmoke;
    border: 1px solid transparent;
    text-transform: uppercase;
    margin: 0.2em 0.5em;
    padding: 0.4em 0.8em 0.2em;
    cursor: pointer;
}

div.color-graber {
    margin-top: 35px;
}

div.palette {
    width: 100%;
}

div.saved_palettes_container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 50px;
}

ul {
    list-style-type: none;

    display: flex;
    flex-wrap: wrap;
}

li {
    width: 100px;
    height: 100px;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 50px;
    margin-top: 50px;
}

button.save {
    font-family: Arial;
    display: inline-block;
    vertical-align: top;
    font-size: 1.3rem;
    letter-spacing: 0.04em;
    min-width: 1.5em;
    border-radius: 10em;
    color: #ccc;
    background: #333;
    border: 1px solid transparent;
    text-transform: uppercase;
    margin: 0.2em 0.5em;
    padding: 0.4em 0.8em 0.2em;
}

span.palette_saved_confirmation {
    text-align: center;
}

p.drop-graber {
    border: 1px solid #333;
    padding: 50px;
    /* padding: 50px; */
    /* width: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
}

div.container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

a,
a:hover,
a:active {
    color: #333;
    text-decoration: none;
}

header {
    display: flex;
    width: 100%;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}

img {
    width: 500px;
}

div.dominantColor {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

div.logo {
    background-image: radial-gradient(circle closest-side, red, whitesmoke);
    width: 150px;
    height: 150px;
    position: absolute;
    left: 20px;
}

span.color-spot {
    /* font-family: "Uncial Antiqua", cursive; */
    font-size: 6rem;
    margin-left: 20px;
}

div.options-buttons {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

span.options,
a.options {
    font-family: Arial;

    display: inline-block;
    vertical-align: top;
    font-size: 1.3rem;
    letter-spacing: 0.04em;
    min-width: 1.5em;
    border-radius: 10em;
    background: #d6d6d6;
    border: 1px solid transparent;
    text-transform: uppercase;
    margin: 0.2em 0.5em;
    padding: 0.4em 0.8em 0.2em;
}
